option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "crystanor.settings"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"

  aws:elasticbeanstalk:container:python:
    WSGIPath: "crystanor.wsgi:application"

  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: staticfiles/

container_commands:

  01_collectstatic:
    command: |
      source /var/app/venv/*/bin/activate && python3 manage.py collectstatic --noinput >> /var/log/django_collectstatic.log 2>&1
    leader_only: true
